@use '~bootstrap/scss/bootstrap';
.user-index td {
  vertical-align: middle;
}
.post-index td {
  vertical-align: middle;
}
.user-show td {
  vertical-align: middle;
}
.pagination {
  justify-content: center;
}
.font-large {
  font-size: 20px;
}
.user-name {
  margin: 8px 250px 0 0;
}