@use '~bootstrap/scss/bootstrap';
.user-index td {
  vertical-align: middle;
}
.rooms-index td {
  vertical-align: middle;
}
.favorites-index td {
  vertical-align: middle;
}
.user-show td {
  vertical-align: middle;
}
.pagination {
  justify-content: center;
}
.font-large {
  font-size: 20px;
}
.user-name {
  margin: 8px 250px 0 0;
}
.card-post{
  display: inline-block;
  margin: 10px 0;
  width: 30%;
  border-radius: 50px;
}
.post-detail1{
  background-color: #008080;
    border-radius: 5px;
    border-bottom-right-radius: 0;
    color:#fff;
    vartical-align: middle;
    padding: 1em 2em;
    text-align: center;
    white-space: nowrap;
    width: 50%;
}
.post-detail2{
  border-bottom: 1px solid #6dbec8;
    padding: 1em;
    margin-bottom: 0px;
    width: 50%;
}
.post-detail-group {
  position: relative;
    display: block;
    padding: 0.75rem 1.25rem;
    background-color: #fff;
}

/*以下、①背景色など*/
.line-bc {
  padding: 20px 10px;
  max-width: 450px;
  margin: 15px auto;
  text-align: right;
  font-size: 14px;
  background: #7da4cd;

}

/*以下、②左側のコメント*/
.balloon6 {
  width: 100%;
  margin: 10px 0;
  overflow: hidden;
}

.balloon6 .faceicon {
  float: left;
  margin-right: -50px;
  width: 40px;
}

.balloon6 .faceicon img{
  width: 100%;
  height: auto;
  border-radius: 50%;
}
.balloon6 .chatting {
  width: 100%;
  text-align: left;
}
.says {
  display: inline-block;
  position: relative;
  margin: 0 0 0 50px;
  padding: 10px;
  max-width: 250px;
  border-radius: 12px;
  background: #edf1ee;
}

.says:after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 3px;
  left: -19px;
  border: 8px solid transparent;
  border-right: 18px solid #edf1ee;
  -webkit-transform: rotate(35deg);
  transform: rotate(35deg);
}
.says p {
  margin: 0;
  padding: 0;
}

/*以下、③右側の緑コメント*/
.mycomment {
  margin: 10px 0;
}
.mycomment p {
  display: inline-block;
  position: relative;
  margin: 0 10px 0 0;
  padding: 8px;
  max-width: 250px;
  border-radius: 12px;
  background: #30e852;
  font-size: 15px;
}

.mycomment p:after {
  content: "";
  position: absolute;
  top: 3px;
  right: -19px;
  border: 8px solid transparent;
  border-left: 18px solid #30e852;
  -webkit-transform: rotate(-35deg);
  transform: rotate(-35deg);
}
.comment-box {
  background-color: #eeeeee;
   border-radius: 5px;
   justify-self: baseline;
   padding: 1.25em;
}
.followings-index td {
  vertical-align: middle;
}
.followers-index td {
  vertical-align: middle;
}
.top-img {
  background-image: url("../images/badminton-1521342_1280.jpg");
  height: 100%;
  min-height: 700px;
  width: 100%;
  background-size: cover;
  padding-top:450px;
  text-align: center;
}
.top-img-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.text {
  top: 50%;
  left: 50%;
}
.text-color {
  color: white;
}
.contact {
  width: 1500px;/*横幅*/
  margin: 0 auto;/*中央寄せ*/
  padding: 60px 0;
}
.contact-item,
.contact-body {
  padding: 20px;
  border: 1px solid #ccc;
}

.contact-item {
  text-align: left; /* テキスト左寄せ */
  width: 30%; /* 横幅30%指定（グレーの背景色部分） */
  background-color: #FFFFBB; /* グレーの背景色 */
}

.contact-body {
  width: 70%; /* 横幅70%指定（白背景色部分） */
}